<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<!-- GENERAL INFORMATION -->

	<display-name>pds.p2p.node.webshell</display-name>

	<!-- SERVLET -->

	<servlet>
		<servlet-name>DanubeApiShellServlet</servlet-name>
		<servlet-class>pds.p2p.node.webshell.DanubeApiShellServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PacketServlet</servlet-name>
		<servlet-class>pds.p2p.node.webshell.PacketServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DanubeApiShellServlet</servlet-name>
		<url-pattern>/DanubeApiShell</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PacketServlet</servlet-name>
		<url-pattern>/Packet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>pds.p2p.node.webshell.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- SPRING SERVLET -->

	<!-- <servlet> <servlet-name>SpringServlet</servlet-name> <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>SpringServlet</servlet-name> <url-pattern>/*</url-pattern> 
		<url-pattern>/</url-pattern> </servlet-mapping> -->


</web-app>
