<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- PDS Connection Factory (pds.core.xri / pds.store.xri.openxri) -->

	<bean id="pdsConnectionFactory" class="pds.core.xri.XriPdsConnectionFactory">
		<property name="properties">
			<util:properties location="/WEB-INF/application.properties" />
		</property>
		<property name="xriStore" ref="xriStore" />
		<property name="userStore" ref="userStore" />
	</bean>

	<bean id="xriStore" class="pds.store.xri.openxri.OpenxriXriStoreFactory" factory-method="getXriStore">
		<constructor-arg>
			<util:properties />
		</constructor-arg>
	</bean>

	<bean id="userStore" class="pds.store.user.impl.db.DatabaseStore">
		<constructor-arg>
			<util:properties location="/WEB-INF/pds.store.user.properties" />
		</constructor-arg>
	</bean>

	<!-- PDS Filter -->

	<bean id="PdsFilter" class="pds.core.PdsFilter">
		<property name="endpointServlet" ref="EndpointServlet" />
		<property name="pdsConnectionFactory" ref="pdsConnectionFactory" />
	</bean>

	<!-- XDI Servlet -->

	<bean id="EndpointServlet" class="org.eclipse.higgins.xdi4j.messaging.server.EndpointServlet" />

	<!-- Additional MessagingTargets -->

	<bean name="/" class="org.eclipse.higgins.xdi4j.messaging.server.impl.CompoundMessagingTarget">
		<property name="mode" value="first-handled" />
		<property name="messagingTargets">
			<list>
				<bean class="pds.core.xri.messagingtargets.XriOperationMessagingTarget">
					<property name="xriStore" ref="xriStore" />
					<property name="userStore" ref="userStore" />
				</bean>
				<bean class="pds.core.xri.messagingtargets.XriResourceMessagingTarget">
					<property name="xriStore" ref="xriStore" />
				</bean>
			</list>
		</property> 
	</bean>

</beans>
