<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- PDS Connection Factory (pds.core.single) -->

	<bean id="pdsConnectionFactory" class="pds.core.single.SinglePdsConnectionFactory">
		<property name="identifier" value="=!1111.2222.3333.4444</property>
		<property name="aliases">
			<list>
				<value>=yourname</value>
			</list>
		</property>
		<property name="endpoints">
			<list>
				<value>http://xdi.yourserver.com/</value>
			</list>
		</property>
	</bean>

	<!-- PDS Filter -->

	<bean id="pdsFilter" class="pds.core.pdsFilter">
		<property name="endpointServlet" ref="endpointServlet" />
		<property name="pdsConnectionFactory" ref="pdsConnectionFactory" />
	</bean>

	<!-- XDI Servlet -->

	<bean id="endpointServlet" class="org.eclipse.higgins.xdi4j.messaging.server.EndpointServlet" />

	<bean name="/" class="org.eclipse.higgins.xdi4j.messaging.server.impl.CompoundMessagingTarget">
		<property name="mode" value="first-handled" />
		<property name="messagingTargets">
			<list>
				<bean class="pds.core.xri.messagingtargets.XriOperationMessagingTarget">
					<property name="xriStore" ref="xriStore" />
					<property name="userStore" ref="userStore" />
				</bean>
				<bean class="pds.core.xri.messagingtargets.XriResourceMessagingTarget">
					<property name="xriStore" ref="xriStore" />
				</bean>
			</list>
		</property> 
	</bean>
</beans>
