body {
	background-color: black;
	font-family: Courier New, Courier, monospace;
	font-size: 16pt;
	color: white;
}

a {
	background-color: black;
	font-family: Courier New, Courier, monospace;
	font-size: 16pt;
	color: white;
}

iframe {
	border: none;
}

/*
#vega {
	position: absolute;
	left: 30px;
	bottom: 30px;
	z-index: -2;
}

#planet {
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: -3;
}

#vegatext {
	position: absolute;
	left: 160px;
	bottom: 30px;
	font-family: Courier New, Courier, monospace;
	font-size: 16pt;
	font-weight: bold;
	color: white;
	z-index: -1;
}

#vegatitle {
	position: absolute;
	right: 30px;
	top: 30px;
	font-family: Courier New, Courier, monospace;
	font-size: 16pt;
	font-weight: bold;
	color: white;
	text-align: right;
	z-index: -1;
}*/