<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- PdsWebApps -->

	<util:list id="pdsWebApps">

		<bean class="pds.web.ui.app.addressbook.AddressBookPdsWebApp" />

		<bean class="pds.web.ui.app.feed.FeedPdsWebApp">
			<property name="hub" value="http://pubsubhubbub.appspot.com/" />
			<property name="pubsubhubbubEndpoint" value="http://ginger.freexri.com:11080/pds-endpoint-pubsubhubbub/" />
			<property name="atomFeedEndpoint" value="http://ginger.freexri.com:11080/pds-endpoint-feed/atom/" />
			<!-- <property name="leaseSeconds" value="..." /> -->
		</bean>

		<bean class="pds.web.ui.app.photos.PhotosPdsWebApp" />

		<bean class="pds.web.ui.app.whisper.WhisperPdsWebApp" />

		<bean class="pds.web.ui.app.directxdi.DirectXdiPdsWebApp" />

	</util:list>

</beans>
