<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<display-name>pds.web</display-name>

	<servlet>
		<servlet-name>PDSServlet</servlet-name>
		<servlet-class>pds.web.PDSServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ExternalCallServlet</servlet-name>
		<servlet-class>pds.web.servlet.external.ExternalCallServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PDSServlet</servlet-name>
		<url-pattern>/pds.web/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExternalCallServlet</servlet-name>
		<url-pattern>/ExternalCall/*</url-pattern>
	</servlet-mapping>

	<!-- SECURITY -->

<!-- 	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<description>ssl</description>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->

</web-app>