body {
	background: black url('/images/mainback-gray.jpg');
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: black;
	margin: 0px;
	padding: 0px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

img {
	border: 0;
}

input {
	font-family: courier, fixed, swiss, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	height: 2em;
}

span.bold {
	font-weight: bold;
}

/*
/* Wicket
*/

#Page {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

#PageHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	margin: 0px;
	padding: 10px;
	background: url("/images/bg.png") repeat-x;
	color: white;
	font-size: 24pt;
	font-weight: bold;
	text-align: left;
}

#PageHeader #Title {
	float: left;
	margin-right: 30px;
}

#PageHeader #Logo {
	float: right;
	margin-right: 30px;
}

#DanubeApiStatusPanel {
	float: left;
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 31px;
	font-family: courier, fixed, swiss, sans-serif;
	background-color: gray;
	color: white;
	margin: 0px;
	padding: 10px 10px 10px 10px;
}

#Body {
	margin: 150px auto auto 100px;
	line-height: 1.5em;
	text-align: left;
}

#SidePanel {
	background-color: white;
	margin: 0 0 0 0;
	padding: 20px;
	width: 200px;
	border: 5px solid gray;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	text-transform: none;
	text-align: left;
}

#SidePanel img {
	vertical-align: middle;
}

#SidePanel a {
	vertical-align: middle;
}

#SidePanel .pad {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#Content {
	background-color: white;
	margin: 0 0 0 0;
	padding: 20px;
	border: 5px solid gray;
	text-align: left;
	line-height: 1.5em;
}

#Content .pad {
	padding: 0 20px 20px 20px;
}

#Content h1 {
	color: black;
	font-size: 1.65em;
	font-weight: bold;
	margin: 0 0 .5em;
}

#Content h2 {
	color: #666;
	font-size: 1.3em;
	font-weight: 400;
	margin: .5em 0 .25em;
}

#Content h3 {
	color: #666;
	font-size: 1.1em;
	font-weight: 400;
	margin: .5em 0 .25em;
}

#Content p {
	color: black;
}

#Content ul {
	padding-left: 0;
	list-style: none;
	margin: 0 0 0 1em;
}

#Content ul li {
	background: url("/images/123.gif") 0 .3em no-repeat;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 .999em;
}

#Footer {
	clear: both;
	display: none;
	background-color: gray;
	position: fixed;
	bottom: 0;
	left: 0;
	color: white;
	margin: 0px;
	padding: 15px 10px 15px 10px;
	width: 100%;
}

div.prfp {
	border: 4px outset gray;
}

.feedbackPanelERROR {
	color: #ff0000;
	font-size: 1.1em;
	font-weight: bold;
}

.feedbackPanelINFO {
	font-size: 1.1em;
	font-weight: bold;
}

/*
/* Terminal
*/

.lh15 {
	line-height: 15px;
}

.term {
	font-family: "Courier New", courier, fixed, monospace;
	font-size: 12px;
	color: #94aad6;
	background: none;
	letter-spacing: 1px;
}

.term .termReverse {
	color: #232e45;
	background: #95a9d5;
}

a.termopen, a.termopen:link, a.termopen:visited {
	text-decoration: none;
	color: #77dd11;
	background: none;
}

a.termopen:hover {
	text-decoration: none;
	color: #222222;
	background: #77dd11;
}

a.termopen:active {
	text-decoration: none;
	color: #222222;
	background: #eeeeee;
}

table.inventory td {
	padding-bottom: 20px !important;
}

tt,pre {
	font-family: courier, fixed, monospace;
	color: #ccffaa;
	font-size: 12px;
	line-height: 15px;
}

li {
	line-height: 15px;
	margin-bottom: 8px !important;
}

.dimmed,.dimmed *,.dimmed * * {
	background-color: #222222 !important;
	color: #333333 !important;
}
