<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<display-name>pds.endpoint.oauth2</display-name>

	<!-- SPRING SERVLET -->

	<servlet>
		<servlet-name>AuthorizationServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ScopeServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TokenServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthorizationServlet</servlet-name>
		<url-pattern>/authorization</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ScopeServlet</servlet-name>
		<url-pattern>/scope</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TokenServlet</servlet-name>
		<url-pattern>/token</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>

	<!-- SPRING -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>